{% extends "base.html" %}

{% block head %}
<header>
    <h1>TRIPTROVE</h1>
    <nav>
        <a href="/form">Add a Trip!</a>
        <a href="#">Sort</a>
    </nav>
</header>
{% endblock %}

{% block body %}
<div class="form-container">
    <h2>Add a Trip</h2>
    
    <form action="/create" method="POST" class="trip-form">
        <div class="form-group">
            <label for="trip-location">Trip Location:</label>
            <input type="text" id="trip-location" name="trip_location" required>
        </div>

        <div class="form-group">
            <label for="trip-start">Start Date:</label>
            <input type="text" id="trip-start" name="trip_start" required>
        </div>
        
        <div class="form-group">
            <label for="trip-end">End Date:</label>
            <input type="text" id="trip-end" name="trip_end" required>
        </div>
        
        <div class="form-group">
            <label for="trip-description">Trip Description:</label>
            <textarea id="trip-description" name="trip_description" rows="4"></textarea>
        </div>
        
        <div class="form-group">
            <label for="trip-image">Trip Image:</label>
            <input type="text" id="trip-image" name="trip_duration" required>
        </div>
        
        <div class="form-group">
            <label for="rating">Trip Rating:</label>
            <input type="int" id="rating" name="rating" required>
        </div>
        <button type="submit" class="submit-btn">ADD TRIP</button>
    </form>
</div>
{% endblock %}

{% block footer %}
<p>TRIPTROVE 2025</p>

{% endblock %}
